body {
	background-color: black;
}

.nav {
	display: inline-block;
	float: none;
}

.li {
	text-align: center;
}

#choices {
	color: white;
	font-size: 50px;
	margin-bottom: 0;
}

.container {
	display: flex;
	justify-content: center;
}

.buttoncontain {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
